<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/style.css">
        <title>Sudoku Solver</title>
    </head>
    <body>
        <h1>Sudoku solver</h1>
        <form enctype="multipart/form-data" method="post">
            <input name="image" type="file"/><input name="load" type="submit" value="Load image"/>
        </form>
        <form method="post">
            <table><tbody>
                {% for row in range(0, 81, 9) %}
                <tr>
                    {% for col in range(9) %}
                    <td><input name="cell{{row + col}}" type="text" value="{{table[row+col] or ''}}"/></td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody></table>
            <input type="reset" value="Reset"/>
            <input name="clear" type="submit" value="Clear"/>
            <input name="backtrack" type="submit" value="Solve (backtrack)"/>
            <input name="sat" type="submit" value="Solve (SAT)"/>
        </form>
        <p>{{message}}</p>
    </body>
</html>